<div class="container w-50">
    <h2 class="text-center">Buzon de Mensajes</h2>
    <div class="row">
        <div class="col-md-3 text-right">
            <!-- Contenido de la primera columna -->
            <img src="" alt="">
            <img src="https://github.com/mdo.png" alt="" width="50" height="50"
                                class="rounded-circle me-5">
        </div>
        <!-- Contenido de la segunda columna -->
        <div class="col-md-8">
            <div class="row">
                <h5>Juan Andino</h5>
            </div>
            <div class="row">
                <p>Me ha gustado su publicación...</p>
            </div>
        </div>
        <div class="col-md-1">
            <!-- Contenido de la tercera columna -->
            <div class="row">
                <p>00:15</p>
            </div>
            <div class="col mx-auto text-center">
                <div class="notificacion">5</div>
              </div>
        </div>
    </div>
</div>