<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">Departamentos Ambato</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            </ul>
            <form class="d-flex">
                <a *ngIf="esAdmin&&isLoggedIn" href="/publicar-departamentos" class="btn btn-primary mx-4">Publicar Departamento</a>

                <div *ngIf="isLoggedIn; else loginButton">
                    <!-- Si está logueado, muestra el botón de usuario -->

                    <div class="dropdown">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="" width="32" height="32"
                                class="rounded-circle me-2">
                            <strong>{{usuarioServicio.usuarioConectado?.Nombre1}}</strong>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                            <li><a class="dropdown-item" href="#">Perfil</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Guardado</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item mx-1" (click)="cerrarSesion()" href=""><i class="bi bi-box-arrow-right"> Salir</i></a></li>
                        </ul>
                    </div>
                </div>                

                <ng-template #loginButton>
                    <!-- Si no está logueado, muestra el botón de inicio de sesión -->
                    <button class="btn btn-success" (click)="showLoginOverlay()">Iniciar Sesión</button>
                </ng-template>                                                
            </form>
        </div>
    </div>
</nav>

<div class="overlay" *ngIf="showLogin">
    <app-login (usuarioLogeado)="recibirEstado($event)"></app-login>
</div>