.navbar {
  width: 100%;
  margin: 0 auto; /* Para centrar la barra de navegación */
  padding-top: 30px ;
  padding-left: 50px;
  padding-right: 50px;
}

#grid{
  width: 50%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Grid de 2 columnas con igual anchura */
  grid-gap: 8px; /* Espacio entre las columnas y filas */
}

.grid2{
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Grid de 2 columnas con igual anchura */
  grid-gap: 8px; 
  padding: 20px;
}

.modal-content{
  width: 300px;
}
.custom-modal-content {
  width: 80%;
  /* Estilos personalizados para el contenido del modal */
  border: 2px solid #007bff;
  border-radius: 10px;
  padding: 20px;
}

.custom-modal-header {
  width: 80%;
  /* Estilos personalizados para el encabezado del modal */
  background-color: #007bff;
  color: #fff;
  border-bottom: 2px solid #0056b3;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 15px;
}

.custom-modal-footer {
  width: 80%;
  /* Estilos personalizados para el pie del modal */
  background-color: #007bff;
  color: #fff;
  border-top: 2px solid #0056b3;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 15px;
}