<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Tipo de Vivienda
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Casa</a></li>
              <li><a class="dropdown-item" href="#">Media Agua</a></li>
              <li><a class="dropdown-item" href="#">Departamento</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Parroquia" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
  <hr class="my-4">
  <nav>
    <div id="grid">
      <div>
        <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3" type="submit"><i class="bi bi-currency-dollar"></i> Precio</button>
      </div>
      <div>
        <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3" type="submit">Superfice</button>
      </div>
      <div>
        <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3" type="submit">Habitaciones</button>
      </div>
      <div>
        <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3" type="submit">Baños</button>
      </div>
    </div>
  </nav>
    <hr class="my-3">

<section>
    <div class="container px-4 px-lg-5 mt-5" >
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <app-item *ngFor="let vivienda of viviendas" direccionItem="Ambato" [vivienda]="vivienda" [esAdmin]="esAdmin"></app-item>
            <p *ngIf="viviendas.length<1">No tienes viviendas publicadas, puedes publicar una ahora</p>
        </div>
    </div>
</section>