.navbar {
    width: 50%;
    margin: 0 auto; /* Para centrar la barra de navegación */
    padding: 50px ;
  }
  
  /* Opcional: Ajustes adicionales para mantener el botón de búsqueda alineado con el contenido */
  