<div class="col mb-5">
    <div class="card h-100">
        <!-- Sale badge-->
        <div class="badge text-white position-absolute" [ngClass]="{'dispo':vivienda.Estado === 'Disponible','noDispo':vivienda.Estado !== 'Disponible'}" style="top: 0.5rem; right: 0.5rem;">{{vivienda.Estado === "Disponible" ? "Disponible" : "Arrendado" }}</div>
        <!-- Product image-->
        <img class="card-img-top"  [src]="imagen" alt="..." />
        <!-- Product details-->
        <div class="card-body p-4">
            <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">{{vivienda.Nombre}}</h5>
                <!-- Product reviews-->
                <h6>{{direccionItem}}</h6>
                <p>{{vivienda.Tip_Pro}}</p>
                <!-- Product price-->                
                ${{vivienda.Precio}}
            </div>
        </div>
        <!-- Product actions-->
        <div id="descripcion" class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div *ngIf="esAdmin==1" class="text-center my-1">
                <div>
                    <a class="btn btn-primary mt-auto" (click)="EditarDepa()">Editar</a>
                </div>
                <div>
                    <a class="btn btn-danger " (click)="openModal()">Eliminar</a>
                </div>
            </div>
            <div  class="text-center"><a class="btn btn-outline-dark mt-auto" (click)="mostrarDepa()">Ver mas</a></div>
        </div>
    </div>
</div>
