.grid {
  display: grid;
  grid-template-columns: 2fr 3fr; /* Cada columna ocupa el espacio definido */
  grid-gap: 15px; /* Espacio entre columnas y filas */
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 0px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
}

.grid-2{
  display: grid;
  grid-template-columns: 1fr 1fr; /* Cada columna ocupa el espacio definido */
  grid-gap: 10px; /* Espacio entre columnas y filas */
  justify-content: center;
  align-items: center;
  padding: 0px;
}

#columna1 {
  width: 100%;
  max-height: 85vh; /* Altura máxima igual a la altura de la ventana */
  overflow-y: auto; /* Habilita la barra de desplazamiento vertical cuando sea necesario */
  padding: 20px;
  background-color: #fff;
}

.row{
  margin: 0px;
  padding: 20px;
}

h4{
  border: 0px;
  padding: 	0px;
}

form {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 20px auto; /* Centra los formularios en el medio de la página */
  position: sticky;
  top: 10px; /* Ajusta según sea necesario para la posición deseada */
}

.form-group {
  width: 100%;
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select, textarea {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type='submit'] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button[type='submit']:hover {
  background-color: #3e8e41;
}

@media screen and (max-width: 1100px){
  #columna1{
    grid-column: span 2;
  }
  #mapa{
    grid-column: span 2;
  }
}
