<div class="main-content" style="background-color: #F8F9FA;">
  <div class="grid">
    <div class="" id="columna1">
      <h4>Nueva Vivienda </h4>
      <!-- Input para subir múltiples archivos -->
      <div class="mb-3">
        <label for="formFileMultiple" class="form-label">Subir imágenes (máximo 5)</label>
        <input class="form-control" type="file" id="formFileMultiple" multiple (change)="CambioImagenes($event)">
      </div>
      <!-- Columna de imágenes -->
      <div class="row" style="background-color: beige; border-radius: 5px; ">
        <div *ngFor="let image of imagenes; let i = index" class="col-md-4 mb-3">
          <img class="img-fluid custom-image" [src]="image" alt="Imagen" (click)="openModal(image, i)">
        </div>
      </div>

      <hr class="my-4">

      <div id="form" class="form-group">
        <form (submit)="CrearOActualizarAhiElDilema($event)">
          <!-- Campos del formulario -->
          <div class="form-group">
            <label for="Nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" [(ngModel)]="viviendaCrear.Nombre">
          </div>
          <div class="grid-2">
            <div class="form-group">
              <label for="Precio">Precio:</label>
              <input type="number" id="nombre" name="precio" placeholder="$" [(ngModel)]="viviendaCrear.Precio">
            </div>
            <div class="form-group">
              <label for="TipoPropiedad">Tipo de propiedad: </label>
              <select id="tipoPropiedad" name="tipoPropiedad" name="tipoPropiedad" [(ngModel)]="viviendaCrear.Tip_Pro">
                <option value="Casa">Casa</option>
                <option value="Departamento">Departamento</option>
                <option value="Condominio">Condominio</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="descripcion">Descripción</label>
            <textarea name="descripcion" id="" cols="30" rows="3" placeholder="Agrega una descripción de la vivienda"
              [(ngModel)]="viviendaCrear.Descripcion"></textarea>
          </div>

          <div class="form-group">
            <label for="parroquias">Parroquias</label>
            <select name="parroquias" (change)="EscogioParroquia(parroqui)" #parroqui>
              <option *ngFor="let parroquia of ubicaciones" [value]="parroquia.Id_Ubi">{{parroquia.Parroquia}}</option>
            </select>
          </div>
          <hr class="my-4">
          <h5>Ubicación</h5>
          <div class="grid-2">
            <div class="form-group">
              <label for="longitud">Longitud:</label>
              <input type="text" id="longitud" name="longitud" [(ngModel)]="viviendaCrear.Longitud" disabled>
            </div>
            <div class="form-group">
              <label for="latitud">Latitud:</label>
              <input type="text" id="latitud" name="latitud" [(ngModel)]="viviendaCrear.Latitud" disabled>
            </div>
          </div>

          <hr class="my-4">
          <h5>Caracteristicas </h5>

          <div class="grid-2">
            <div class="form-group">
              <label for="Num_Hab">Número de Habitaciones:</label>
              <input type="number" id="Num_Hab" name="Num_Hab" [(ngModel)]="caraCrear.Num_Hab">
            </div>

            <div class="form-group">
              <label for="Num_Ban">Número de Baños:</label>
              <input type="number" id="Num_Ban" name="Num_Ban" [(ngModel)]="caraCrear.Num_Ban">
            </div>

            <div class="form-group">
              <label for="Num_Pis">Número de Piso:</label>
              <input type="number" id="Num_Pis" name="Num_Pis" [(ngModel)]="caraCrear.Num_Pis">
            </div>

            <div class="form-group">
              <label for="Metraje">Metraje:</label>
              <input type="number" id="Metraje" name="Metraje" [(ngModel)]="caraCrear.Metraje">
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="Comedor" [(ngModel)]="caraCrear.Comedor">
              <label class="form-check-label" for="checkbox2">
                Comedor
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="Sala" [(ngModel)]="caraCrear.Sala">
              <label class="form-check-label" for="checkbox2">
                Sala
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="Cocina" [(ngModel)]="caraCrear.Cocina">
              <label class="form-check-label" for="checkbox2">
                Cocina
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="Lavanderia" [(ngModel)]="caraCrear.Lavanderia">
              <label class="form-check-label" for="checkbox2">
                Lavandería
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="Jardin" [(ngModel)]="caraCrear.Jardin">
              <label class="form-check-label" for="checkbox2">
                Jardin
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="Amoblado" [(ngModel)]="caraCrear.Amoblado">
              <label class="form-check-label" for="checkbox2">
                Amoblado
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="Ascensor" [(ngModel)]="caraCrear.Ascensor">
              <label class="form-check-label" for="checkbox2">
                Ascensor
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="Terraza" [(ngModel)]="caraCrear.Terraza">
              <label class="form-check-label" for="checkbox2">
                Terraza
              </label>
            </div>
          </div>
          <hr class="my-4">

          <h5>Servicios</h5>

          <div class="grid-2">

            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="Luz" [(ngModel)]="serviCrear.Luz">
              <label class="form-check-label" for="checkbox2">
                Luz
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="Agua" [(ngModel)]="serviCrear.Agua">
              <label class="form-check-label" for="checkbox2">
                Agua
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="Internet" [(ngModel)]="serviCrear.Internet">
              <label class="form-check-label" for="checkbox2">
                Internet
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="Garage" [(ngModel)]="serviCrear.Garaje">
              <label class="form-check-label" for="checkbox2">
                Garage
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="Calefon" [(ngModel)]="serviCrear.Calefon">
              <label class="form-check-label" for="checkbox2">
                Calefón
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="Duc_Elec" [(ngModel)]="serviCrear.Duc_Elec">
              <label class="form-check-label" for="checkbox2">
                Ducha Eléctrica
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="Telefono" [(ngModel)]="serviCrear.Telefono">
              <label class="form-check-label" for="checkbox2">
                Teléfono
              </label>
            </div>
          </div>
          <hr class="my-4">
          <h5>Condiciones</h5>
          <div class="grid-2">

            <div class="form-group">
              <label for="numPersonas">Número de Personas: </label>
              <input type="number" id="numPersonas" name="numPersonas" [(ngModel)]="condicioCrear.Num_Pers">
            </div>

            <div class="form-group">
              <label for="numPersonas">Garantía: </label>
              <input type="number" id="Garantia" name="Garantia" [(ngModel)]="condicioCrear.Garantia">
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="Mascotas" [(ngModel)]="condicioCrear.Mascotas">
              <label class="form-check-label" for="checkbox2">
                Permite Mascotas
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="Fiestas" [(ngModel)]="condicioCrear.Fiestas">
              <label class="form-check-label" for="checkbox2">
                Permite Fiestas
              </label>
            </div>
          </div>

          <hr class="my-4">

          <!-- Input para subir múltiples archivos -->
          <!-- <div class="mb-3">
            <label for="formFileMultiple" class="form-label">Subir PDF (Contrato de Arrendamiento)</label>
            <input class="form-control" type="file" id="formFileMultiple" multiple>
          </div> -->
          <button type="submit">Publicar Departamento</button>
        </form>
      </div>
    </div>

    <!-- Ubicacion del mapa -->
    <div id="mapa" style="background-color: #fff;">
      <div style="padding: 20px;">
        <div #map style="height: 100vh; width: 100%;  padding: 20px;">
        </div>
      </div>
    </div>

  </div>
</div>
<br>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>